#defining list in python-
#list of strings

list1=["Nikhlesh","Aman","Rahul","Devansh","Rishabh"]

#list of numbers

list2=[1,2,3,4,5,6,7]

#list data list

list3=["ravi",1,"false",5.76]

#nested list

list4=[[1,2,3],[5,6,7]]

In [1]:
#defining list in python-
#list of strings

list1=["Nikhlesh","Aman","Rahul","Devansh","Rishabh"]

#list of numbers

list2=[1,2,3,4,5,6,7]

#list data list

list3=["ravi",1,"false",5.76]

#nested list

list4=[[1,2,3],[5,6,7]]

In [11]:
l=[10,20,30,40,50,60,70,80,90,100]
slice1=l[-4:-2]
slice2=l[0:5]
slice3=l[:5]
slice4=l[4:]
slice5=l[5:len(l)]
slice6=l[4:-4]
print(slice1)
print(slice2)
print(slice3)
print(slice4)
print(slice5)
print(slice6)

[70, 80]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
[50, 60, 70, 80, 90, 100]
[60, 70, 80, 90, 100]
[50, 60]

In [19]:
list1=[1,2,3,'a','b']
list1.append('c')
list1.append('d')
list1.insert(-3,'e')
print(list1)

[1, 2, 3, 'a', 'e', 'b', 'c', 'd']

In [18]:
arr=[1,2,3,'uday']
arr.append('vikram singh')
print(arr)
arr.insert(1,'python')
print(arr)

[1, 2, 3, 'uday', 'vikram singh']
[1, 'python', 2, 3, 'uday', 'vikram singh']

In [7]:
print(arr.pop())

3

In [11]:
x=arr.pop()
arr.pop(1)
print(x)
print(arr)

vikram singh
[1, 2, 3, 'uday']

In [19]:
(arr.remove("uday"))
print(arr)

[1, 'python', 2, 3, 'vikram singh']

In [30]:
arr1=[1,1,1,1,2,5,2,3,4,5,6,1000,-1,0,456]
print(max(arr1))
print(min(arr1))
#Reverse
arr1.reverse()
print(arr1)
print(arr1[::-1])
print(arr1.count(1))
#arr1.sort() #ascending
arr1.sort(reverse=True) #descending
print(arr1)

1000
-1
[456, 0, -1, 1000, 6, 5, 4, 3, 2, 5, 2, 1, 1, 1, 1]
[1, 1, 1, 1, 2, 5, 2, 3, 4, 5, 6, 1000, -1, 0, 456]
4
[1000, 456, 6, 5, 5, 4, 3, 2, 2, 1, 1, 1, 1, 0, -1]
[1, 2, 3]

In [36]:
#Extend
arr=[1,2,3]
arr.append(4)
arr.append([4,5,6])
arr.extend([3,444,5,6,6565,324,45345,868687,342,332,000])
# arr.extend(1)
print(arr)

[1, 2, 3, 4, [4, 5, 6], 3, 444, 5, 6, 6565, 324, 45345, 868687, 342, 332, 0]

In [37]:
arr=['kashika','Kashika'] #on the basis of ascii code
print(max(arr))
print(min(arr))

kashika
Kashika