In [3]:
def pythagoras(base,perpendicular):
    return(base**2+perpendicular**2)**0.5

In [4]:
pythagoras(12,5)

13.0

In [1]:
f=lambda x:x**2+2*x+1
print(f(2))
print(f(3))
print(f(10))
print(f(15))

9
16
121
256

In [2]:
g=lambda x,y:x**2+2*x*y+y**2
print(g(2,3))
print(g(3,4))

25
49

In [7]:
f=lambda b,p:(b**2+p**2)**0.5
print(f(12,5))

13.0

In [9]:
#what is  the amount after 16% discount on 12000
12000* (1-.16)

10080.0

In [28]:
prices=[10000,30000,12999,50000,43999,10500]
for i in prices:
    x=(i* (1-.16))
    print("discount value of",i,"is",x)

discount value of 10000 is 8400.0
discount value of 30000 is 25200.0
discount value of 12999 is 10919.16
discount value of 50000 is 42000.0
discount value of 43999 is 36959.159999999996
discount value of 10500 is 8820.0

In [29]:
prices=[10000,30000,12999,50000,43999,10500]
dis_prices=[]
for price in prices:
    ans=price*(1-.16)
    dis_prices.append(ans)
print(prices)
print(dis_prices)

[10000, 30000, 12999, 50000, 43999, 10500]
[8400.0, 25200.0, 10919.16, 42000.0, 36959.159999999996, 8820.0]

In [30]:
dis_price=list(map(lambda p:p*(1-.16),prices))
print(dis_price)

[8400.0, 25200.0, 10919.16, 42000.0, 36959.159999999996, 8820.0]

In [36]:
x=[1,2,4,6,3,7,5,8,21]
for i in x:
    y=(i**2)
    print(y)

1
4
16
36
9
49
25
64
441

In [38]:
x=[1,2,4,6,3,7,5,8,21]
y=list(map(lambda x:x**2,x))
print(y)

[1, 4, 16, 36, 9, 49, 25, 64, 441]

In [8]:
#area of triangle
A=lambda b,h: (1/2*b*h)
print(A(3,4))

6.0

In [47]:
x=[-1,0,1,8,0,7,4,7]
def fun(x):
    return(sum(x))

In [48]:
fun(x)

26

In [45]:
def fun(x):
    s=0
    for i in x:
        s+=i
    print(s)

In [46]:
fun([1,2,3,4,5])

15